<section id="about" class="py-10 selection:bg-main-color selection:text-white">
    <h2 class="text-center uppercase text-4xl font-extrabold">about me</h2>
    <div class="bg-main-color my-8 w-[50px] h-[5px] mx-auto rounded-lg"></div>
    <p class="text-2xl text-center max-w-lg mx-auto">Here you will find more information about me, what I do, and my
        current skills mostly in terms of programming and
        technology</p>

    <div class="container px-5 w-[95%] py-10 mx-auto grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="know-me">
            <h3 class="my-10 text-2xl font-bold">Get to know me!</h3>
            <p class="text-lg leading-relaxed text-gray-700">
                I am a <span class="font-semibold text-main-color">Full Stack Developer</span> with solid expertise in
                Angular for front-end development
                and .NET for back-end solutions. <br> Graduated from the Faculty of Computers and
                Artificial Intelligence, Cairo University, Department of Information Systems
                with GPA <span class="font-medium">3.2/4.0</span> (very good).

                <br> Experienced in building scalable web applications, demonstrating skills through
                live demos and GitHub repositories, and continuously exploring new
                technologies. <br> Highly motivated and eager to contribute to dynamic development
                teams.

                I'm open to Job opportunities where I can contribute, learn and grow. <br> If you have a good
                opportunity
                that matches my skills and experience then don't hesitate to <span
                    class="text-main-color hover:underline cursor-pointer"><a href="#home">contact me</a></span>.
            </p>

            <button class="uppercase mt-5 cursor-pointer
                     text-xl py-3 font-bold px-8 bg-main-color rounded-md text-white
                     hover:-translate-y-1 hover:shadow-lg hover:shadow-main-color/50 duration-300">
                <a href="#home">Contact Me</a>
            </button>

        </div>
        <div class="skills">
            <h3 class="my-10 text-2xl font-bold">My Skills</h3>
            <div class="flex flex-wrap gap-3 cursor-pointer">
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">HTML5</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">CSS3</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">SASS</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">JavaScript</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">TypeScript</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">ES6</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">Bootstrap</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">Tailwind
                    CSS</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">JQuery</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">Angular</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">Unit
                    Testing
                </span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">ASP.NET
                    Core</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">C#</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">SQL</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">MS
                    SQL
                    Server</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">Git
                    & GitHub</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">Responsive
                    Design</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">JWT
                    Bearer Tokens</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">Authentication</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">Authorization</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">Stripe</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">MVC</span>
                <span
                    class="px-4 py-2 bg-gray-200 rounded-md text-lg font-medium hover:bg-main-color hover:text-white duration-300">RESTful
                    APIs</span>

            </div>

        </div>
    </div>

    
</section>