<section id="projects" data-aos="fade-up" class="py-16 bg-gray-50 selection:bg-main-color selection:text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-12">
            <h2 class="text-center uppercase text-4xl font-extrabold">Projects</h2>
            <div class="bg-main-color my-8 w-[50px] h-[5px] mx-auto rounded-lg"></div>
            <p class="text-2xl text-center max-w-lg mx-auto">
                Here you will find some of the personal and clients projects that I created, with each project
                containing its own case study.
            </p>
        </div>

        <div class="space-y-16">
            <!-- Project Item -->
            <div data-aos="flip-right" class="flex flex-col lg:flex-row items-center gap-10">
                <div class="w-full lg:w-1/2">
                    <img src="/images/projects/FreshCart.png" alt="Dopefolio Screenshot"
                        class="rounded-xl shadow-md w-full h-auto" loading="lazy" />
                </div>
                <div class="w-full lg:w-1/2">
                    <h3 class="text-2xl font-semibold text-gray-800 mb-4">FreshCart</h3>
                    <p class="text-gray-600 mb-6">
                        Developed with Angular and includes Products, Add them to cart and to
                        wish list Online payment, View user orders, Brands, Categories,
                        Authentication process, Payment Gateway with stripe.
                        <br>
                        Used SCSS, Pipes, Guards, Interceptors, Services, SSR, Standalone
                        components and Tailwind.
                    </p>
                    <a href="https://fresh-cart-ecommerce-full.vercel.app/" target="_blank" rel="noopener noreferrer"
                        class="uppercase me-3 mt-5 cursor-pointer text-xl py-3 font-bold px-8 bg-main-color rounded-md w-fit text-white block hover:-translate-y-1 hover:shadow-lg hover:shadow-main-color/50 duration-300">
                        Case Study
                    </a>
                </div>
            </div>

            <!-- Project Item -->
            <div data-aos="flip-left" class="flex flex-col-reverse lg:flex-row items-center gap-10">
                <div class="w-full lg:w-1/2">
                    <h3 class="text-2xl font-semibold text-gray-800 mb-4">LearnHub</h3>
                    <p class="text-gray-600 mb-6">
                        Key features include parental involvement, allowing parents to monitor
                        their childrens progress and view grades.
                        <br>
                        The platform also includes a robust question bank where instructors can
                        add questions, enabling the system to generate unique quizzes for each
                        student based on configurable parameters while ensuring consistent
                        difficulty levels.
                        <br>
                        The system provides automatic quiz correction upon submission or time
                        expiration, supporting both multiple-choice and essay questions in English
                        and Arabic.
                    </p>
                    <div class="mb-6">

                    </div>
                    <a href="https://gp-frontend-lovat.vercel.app/" target="_blank" rel="noopener noreferrer" class="uppercase me-3 mt-5 cursor-pointer text-xl py-3 font-bold px-8 bg-main-color rounded-md w-fit text-white block
                        hover:-translate-y-1 hover:shadow-lg hover:shadow-main-color/50 duration-300">
                        case Study</a>
                </div>
                <div class="w-full lg:w-1/2">
                    <iframe class="w-full aspect-video rounded-xl shadow-md"
                        src="https://drive.google.com/file/d/11ttPg0nHf-1oA0fMYQuWr8qmPOsuGRic/preview"
                        title="LearnHub Demo Video" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>

            <!-- Project Item -->
            <div data-aos="flip-right" class="flex flex-col lg:flex-row items-center gap-10">
                <div class="w-full lg:w-1/2">
                    <img src="images/projects/GamesHub.png" alt="Boreal Coffee Clone Screenshot"
                        class="rounded-xl shadow-md w-full h-auto" loading="lazy" />
                </div>
                <div class="w-full lg:w-1/2">
                    <h3 class="text-2xl font-semibold text-gray-800 mb-4">GamesHub</h3>
                    <p class="text-gray-600 mb-6">
                        Used Html, CSS, JS and bootstrap to make a good landing Game page.
                    </p>
                    <a href="https://moelsherif26.github.io/GameOOP/" target="_blank" rel="noopener noreferrer"
                        class="uppercase me-3 mt-5 cursor-pointer text-xl py-3 font-bold px-8 bg-main-color rounded-md w-fit text-white block hover:-translate-y-1 hover:shadow-lg hover:shadow-main-color/50 duration-300">
                        case study</a>
                </div>
            </div>

            <!-- Project Item -->
            <div data-aos="flip-left" class="flex flex-col-reverse lg:flex-row items-center gap-10">
                <div class="w-full lg:w-1/2">
                    <h3 class="text-2xl font-semibold text-gray-800 mb-4">Daniels Portfolio</h3>
                    <p class="text-gray-600 mb-6">
                        Used Html, CSS, JS and bootstrap to make a good landing Portfolio page.
                    </p>
                    <a href="https://moelsherif26.github.io/Daniels/" target="_blank" rel="noopener noreferrer"
                        class="uppercase me-3 mt-5 cursor-pointer text-xl py-3 font-bold px-8 bg-main-color rounded-md w-fit text-white block hover:-translate-y-1 hover:shadow-lg hover:shadow-main-color/50 duration-300">
                        Case
                        Study</a>
                </div>
                <div class="w-full lg:w-1/2">
                    <img src="images/projects/Daniels.png" alt="Crown Template Screenshot"
                        class="rounded-xl shadow-md w-full h-auto" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
</section>