@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --color-main-color: #7843e9;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  scroll-margin-top: 5rem;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-main-color);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #6434d6;
  }
}
